<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h2>Forgot password page</h2>
    
    <form id="forgotPasswordForm" action="/forgot_password" method="POST">
        <input type="hidden" name="csrf_token" id="csrf_token">
        <input type="text" id="hp_field" name="hp_field">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>

    <p>Had an enlightenment? <a href="/">Log in here</a></p>

    {% if error %}
	<p class="error">{{error}}</p>
    {% endif %}
    <p id="errorMessage" class="error"></p>
    
    {% if errors %}
        <ul class="error">
            {% for field, error in errors.items() %}
            <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if message %}
        <h3>{{message}}</h3>
    {% endif %}

    <script src="{{ url_for('static', filename='scripts/add_csrf_token.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate_forgot_password_form.js') }}"></script>
</body>
</html>

