<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password page</title>
</head>
<body>
    <h2>Forgot password page</h2>
    
    <form id="forgotPasswordForm" action="/forgot_password" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>
    <p>Password strength: <strong id="pass_strength"></strong></p>

    <p>Had an enlightenment? <a href="/">Log in here</a></p>

    {% if error %}
	<p style="color:red;">{{error}}</p>
    {% endif %}
    <p id="errorMessage" style="color: red;"></p>
    
    {% if errors %}
    <ul>
    {% for field, error in errors.items() %}
        <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if message %}
    <h3>{{message}}</h3>
    {% endif %}

    <script>
        document.getElementById("forgotPasswordForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const errorMessage = document.getElementById("errorMessage");
            const username = document.getElementById("username").value.trim();
            const email = document.getElementById("email").value.trim();

            errorMessage.textContent = "";
            
            if (!username || !email) {
                errorMessage.textContent = "All fields must be filled";
                return;
            }

            var errorMsg = "";
            if (username.length < 3 || username.length > 40){
                errorMsg = "Username must be between 3 and 40 characters | ";
            }

            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/; //owasp email regex
            if (!emailRegex.test(email)) {
                errorMsg += "Email address is invalid | ";
            }

            if(errorMsg){
                errorMessage.textContent = errorMsg;
                return;
            }

            this.submit();
        });
    </script>
</body>
</html>

