<h1>welcome home {{username}}</h1>
<a href="/logout">Logout</a>

{% if totp_secret %}
<h3>Your secret key for 2FA. Add it in Your authenticator app, You'll need it to log in to the account.<br>{{totp_secret}}</h3>
{% endif %}

{% if login_attempts %}
<div style="color: red;">
    <p>Failed login attempts detected:</p>
    <ul>
        {% for attempt in login_attempts %}
            <li><strong>Attempt on {{attempt['time']}} from {{ attempt['ipAddress'] }}</strong></li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div style="color: green;">
    <p>No failed login attempts detected since the previous successful one.</p>
</div>
{% endif %}