<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h1>welcome home {{username}}</h1>
    <a href="/logout">Logout</a>

    {% if totp_secret %}
        <h3>Your secret key for 2FA. Add it in Your authenticator app, You'll need it to log in to the account.<br>{{totp_secret}}</h3>
    {% endif %}

    {% if login_attempts %}
    <div class="error">
        <p>Failed login attempts detected:</p>
        <ul>
            {% for attempt in login_attempts %}
                <li><strong>Attempt on {{attempt['time']}} from {{ attempt['ipAddress'] }}</strong></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="success">
        <p>No failed login attempts detected since the previous successful one.</p>
    </div>
    {% endif %}

    <h2>Add New Note</h2>
    <form action="/add_note" id="addNoteForm" method="post">
        <input type="hidden" name="csrf_token" id="csrf_token">
        <input type="text" id="hp_field" name="hp_field">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <br><br>

        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="5" cols="30" required></textarea>
        <br><br>

        <label for="isPublic">
            <input type="checkbox" id="isPublic" name="isPublic">
            Make Public (doesn't matter when Shared to Username is filled)
        </label>
        <br><br>

        <label for="sharedToUsername">Shared To Username (optional):</label>
        <input type="text" id="sharedToUsername" name="sharedToUsername">
        <br><br>

        <label for="note_password">Note Encryption Password (optional):</label>
        <input type="password" id="note_password" name="note_password">
        <br><br>

        <label for="note_password_repeat">Repeat Encryption Password (optional):</label>
        <input type="password" id="note_password_repeat" name="note_password_repeat">
        <br><br>

        <label for="user_password">Enter Your password to sign the note:</label>
        <input type="password" id="user_password" name="user_password" required>
        <br><br>

        <label for="totp_code">Enter Your TOTP:</label>
        <input type="number" id="totp_code" name="totp_code" required>
        <br><br>

        <button type="submit">Add Note</button>
    </form>
    <p>Note Password strength: <strong id="pass_strength"></strong></p>
    <p id="errorMessage" class="error"></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="error">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- <div style="display: flex; width: 100%; border: 1px solid black;">
        <div style="flex: 1; border-right: 1px solid gray;"> -->
    <div class="table_container">
        <div class="table_column">
            <h3>Notes created by You</h3>
            {% if user_notes_list %}
            <ul>
                {% for note in user_notes_list %}
                    <li><a href="/rendered_note/{{note.id}}">Note with id {{note.id}} and title: {{note.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- <div style="flex: 1; border-right: 1px solid gray;"> -->
        <div class="table_column">
            <h3>Notes shared with You</h3>
            {% if shared_notes_list %}      
            <ul>
                {% for note in shared_notes_list %}
                    <li><a href="/rendered_note/{{note.id}}">Note with id {{note.id}} and title: {{note.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <!-- <div style="flex: 1;"> -->
        <div class="table_last_column">
            <h3>Public notes</h3>
            {% if public_notes_list %}
            <ul>
                {% for note in public_notes_list %}
                    <li><a href="/rendered_note/{{note.id}}">Note with id {{note.id}} and title: {{note.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/add_csrf_token.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate_add_note_form.js') }}"></script>
</body>
</html>
