<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script> -->
</head>
<body>
    <h2>Register page</h2>
    
    <form id="registerForm" action="/register" method="POST">
        <input type="hidden" name="csrf_token" id="csrf_token">
        <input type="text" id="hp_field" name="hp_field">

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
	    <label for="password">Repeat Password:</label><br>
        <input type="password" id="password_repeat" name="password_repeat" required><br><br>

        <button type="submit">Register</button>
    </form>
    <p>Password strength: <strong id="pass_strength"></strong></p>

    <p>Already a user? <a href="/">Log in here</a></p>

    {% if error %}
	    <p class="error">{{error}}</p>
    {% endif %}
    <p id="errorMessage" class="error"></p>
    
    {% if errors %}
        <ul class="error">
            {% for field, error in errors.items() %}
                <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <script src="{{ url_for('static', filename='scripts/add_csrf_token.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate_register_form.js') }}"></script>
</body>
</html>

