<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
</head>
<body>
    <h2>Register page</h2>
    
    <form id="registerForm" action="/register" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
	<label for="password">Repeat Password:</label><br>
        <input type="password" id="password_repeat" name="password_repeat" required><br><br>

        <button type="submit">Register</button>
    </form>
    <p>Password strength: <strong id="pass_strength"></strong></p>

    <p>Already a user? <a href="/login">Log in here</a></p>

    {% if error %}
	<p style="color:red;">{{error}}</p>
    {% endif %}
    <p id="errorMessage" style="color: red;"></p>
    
    {% if errors %}
    <ul>
    {% for field, error in errors.items() %}
        <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <script>
        const hasUpperCase = /[A-Z]/;
        const hasLowerCase = /[a-z]/;
        const hasDigit = /[0-9]/;
        const hasSpecialChar = /[ !"#$%&'()*+,\-./:;<=>?@[\]\\^_`{|}~]/; //owasp list

        function calculateEntropy(password) {
            let charSetSize = 0;

            if (hasLowerCase.test(password)) charSetSize += 26;
            if (hasUpperCase.test(password)) charSetSize += 26;
            if (hasDigit.test(password)) charSetSize += 10;
            if (hasSpecialChar.test(password)) charSetSize += 32;

            const passwordLength = password.length;

            return passwordLength > 0 && charSetSize > 0
                ? (passwordLength * Math.log2(charSetSize)).toFixed(2)
                : 0;
        }

        document.getElementById("registerForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const errorMessage = document.getElementById("errorMessage");
            const username = he.encode(document.getElementById("username").value.trim(), { useNamedReferences: true });
            const email = he.encode(document.getElementById("email").value.trim(),{ useNamedReferences: true });
            const password = document.getElementById("password").value;
            const passwordRepeat = document.getElementById("password_repeat").value;
            // const username = DOMPurify.sanitize(document.getElementById("username").value.trim(), { ALLOWED_TAGS: [], ALLOWED_ATTR: [] });
            // const email = DOMPurify.sanitize(document.getElementById("email").value.trim(), { ALLOWED_TAGS: [], ALLOWED_ATTR: [] });
            //const password = DOMPurify.sanitize(document.getElementById("password").value);
            //const passwordRepeat = DOMPurify.sanitize(document.getElementById("password_repeat").value);

            errorMessage.textContent = "";
            
            if (!username || !email || !password || !passwordRepeat) {
                errorMessage.textContent = "All fields must be filled";
                return;
            }

            if (username.length < 3 || username.length > 40){
                errorMessage.textContent = "Username must be between 3 and 40 characters";
                return;
            }

            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/; //owasp email regex
            if (!emailRegex.test(email)) {
                errorMessage.textContent = "Email address is invalid";
                return;
            }

            var msg = "";
            if (password.length < 12) {
                msg += "Password must be at least 12 characters long\n";
            }

            if(!hasLowerCase.test(password)){
                msg +="Password must contain a lowercase\n";
            }
            if(!hasUpperCase.test(password)){
                msg +="Password must contain an uppercase\n";
            }
            if(!hasDigit.test(password)){
                msg +="Password must contain a digit\n";
            }
            if(!hasSpecialChar.test(password)){
                msg +="Password must contain a special character\n";
            }
            if(msg){
                errorMessage.textContent = msg;
                return;
            }

            if (password !== passwordRepeat) {
                errorMessage.textContent = "Passwords do not match";
                return;
            }

            this.submit();
        });

        document.getElementById("password").addEventListener("keyup", () => {
            const password = document.getElementById("password").value;
            const pass_strength = document.getElementById("pass_strength");

            const entropy = calculateEntropy(password);
            var msg = '';
            if (entropy < 35)
                msg = 'Very weak';
            else if (entropy < 59)
                msg = 'Weak';
            else if (entropy < 119)
                msg = 'Strong';
            else
                msg = 'Very strong';
                pass_strength.textContent = msg;
        });

    </script>
</body>
</html>

