<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password page</title>
</head>
<body>
    <h2>Reset password page</h2>
    {% if not success %}
    <form id="resetPasswordForm" action="/reset_password/{{ token }}" method="POST">
        <input type="hidden" name="csrf_token" id="csrf_token">
        <input style="display: none;" type="text" id="hp_field" name="hp_field">
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
	    <label for="password">Repeat Password:</label><br>
        <input type="password" id="password_repeat" name="password_repeat" required><br><br>

        <button type="submit">Change password</button>
    </form>
    <p>Password strength: <strong id="pass_strength"></strong></p>
    
    <p>Had an enlightenment? <a href="/">Log in here</a></p>
    {% endif %}

    {% if success and totp_secret %}
        <p>Your password has been successfully reset. Remember to change the TOTP secret in Your authenticator app. The previous one is no longer valid</p>
        <h3>{{totp_secret}}</h3>
        <p><a href="/">Log in here</a></p>
    {% endif %}
    
    {% if error %}
	<p style="color:red;">{{error}}</p>
    {% endif %}
    <p id="errorMessage" style="color: red;"></p>
    
    {% if errors %}
    <ul>
    {% for field, error in errors.items() %}
        <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}


    <script>
        fetch('/get_csrf_token')
            .then(response => response.json())
            .then(data => {
                document.getElementById('csrf_token').value = data.csrf_token;
            });
    </script>
    <script>
        const hasUpperCase = /[A-Z]/;
        const hasLowerCase = /[a-z]/;
        const hasDigit = /[0-9]/;
        const hasSpecialChar = /[ !"#$%&'()*+,\-./:;<=>?@[\]\\^_`{|}~]/; //owasp list

        function calculateEntropy(password) {
            let charSetSize = 0;

            if (hasLowerCase.test(password)) charSetSize += 26;
            if (hasUpperCase.test(password)) charSetSize += 26;
            if (hasDigit.test(password)) charSetSize += 10;
            if (hasSpecialChar.test(password)) charSetSize += 32;

            const passwordLength = password.length;

            return passwordLength > 0 && charSetSize > 0
                ? (passwordLength * Math.log2(charSetSize)).toFixed(2)
                : 0;
        }

        document.getElementById("resetPasswordForm").addEventListener("submit", function (event) {
            event.preventDefault();

            const errorMessage = document.getElementById("errorMessage");
            const password = document.getElementById("password").value;
            const passwordRepeat = document.getElementById("password_repeat").value;

            errorMessage.textContent = "";
            
            if (!password || !passwordRepeat) {
                errorMessage.textContent = "All fields must be filled";
                return;
            }

            var errorMsg = "";
            if (password.length < 12) {
                errorMsg += "Password must be at least 12 characters long | ";
            }

            if(!hasLowerCase.test(password)){
                errorMsg +="Password must contain a lowercase | ";
            }
            if(!hasUpperCase.test(password)){
                errorMsg +="Password must contain an uppercase | ";
            }
            if(!hasDigit.test(password)){
                errorMsg +="Password must contain a digit | ";
            }
            if(!hasSpecialChar.test(password)){
                errorMsg +="Password must contain a special character | ";
            }

            const entropy = calculateEntropy(password);
            if (entropy < 59){
                errorMsg += "Password is too weak | ";
            }

            if (password !== passwordRepeat) {
                errorMsg += "Passwords do not match";
            }

            if(errorMsg){
                errorMessage.textContent = errorMsg;
                return;
            }

            this.submit();
        });

        
        document.getElementById("password").addEventListener("keyup", () => {
            const password = document.getElementById("password").value;
            const pass_strength = document.getElementById("pass_strength");

            const entropy = calculateEntropy(password);
            var msg = '';
            if (entropy < 35)
                msg = 'Very weak';
            else if (entropy < 59)
                msg = 'Weak';
            else if (entropy < 119)
                msg = 'Strong';
            else
                msg = 'Very strong';
                pass_strength.textContent = msg;
        });
    </script>
</body>
</html>

