<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h2>Reset password page</h2>
    {% if not success %}
    <form id="resetPasswordForm" action="/reset_password/{{ token }}" method="POST">
        <input type="hidden" name="csrf_token" id="csrf_token">
        <input type="text" id="hp_field" name="hp_field">

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
	    <label for="password">Repeat Password:</label><br>
        <input type="password" id="password_repeat" name="password_repeat" required><br><br>

        <button type="submit">Change password</button>
    </form>
    <p>Password strength: <strong id="pass_strength"></strong></p>
    
    <p>Had an enlightenment? <a href="/">Log in here</a></p>
    {% endif %}

    {% if success and totp_secret %}
        <p>Your password has been successfully reset. Remember to change the TOTP secret in Your authenticator app. The previous one is no longer valid</p>
        <h3>{{totp_secret}}</h3>
        <p><a href="/">Log in here</a></p>
    {% endif %}
    
    {% if error %}
	<p class="error">{{error}}</p>
    {% endif %}
    <p id="errorMessage" class="error"></p>
    
    {% if errors %}
        <ul class="error">
            {% for field, error in errors.items() %}
                <li><strong>{{ field.capitalize() }}:</strong> {{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <script src="{{ url_for('static', filename='scripts/add_csrf_token.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/validate_reset_password_form.js') }}"></script>
</body>
</html>

